<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>>, initial-scale=1.0">
    <base href="'/">
    <link rel="stylesheet" type="text/css" href="/css/favorite.css" />
    <title>Favorite City</title>
</head>

<body>
    <h1>Favorite city</h1>
    <div id="favoritelocation">
        <div class="favcity">
            <div class="cut1">
                <p id="namecity">Cluj</p>
                <p id="timp">20:00</p>
                <p id="statusvreme">ploaie</p>
            </div>
            <div class="cut2">
                <p id="tempcity">15c</p>
                <div class="tempextreme">
                    <p id="temcitymax">2</p>
                    <p id="temcitimin">0</p>
                </div>
            </div>


        </div>
    </div>
</body>

</html>