        @import "mixinuri";
        @import "variabile";
        @media (min-width: 320px) {
            .daystyle {
                background-color: rgba(194, 147, 0, 0.5);
                box-shadow: 2px 0px 0px 1px #D19C29;
                color: $cultexte;
            }
            .nightstyle {
                background-color: rgba(46, 34, 34, 0.8);
                box-shadow: -2px 1px 0 3px #275e8e;
                color: $cultexte;
            }
            .day {
                background-image: url('/icons/day.jpg');
            }
            .night {
                background-image: url('/icons/night.jpg');
            }
            .daynight {
                width: 33px;
                height: 33px;
                left: 5px;
                top: 0px;
                float: right;
                position: relative;
            }
            .daynight:hover {
                cursor: pointer;
            }
            .moon {
                background-color: transparent;
                box-shadow: -6px 1px 0 3px #275e8e;
                border-left: 3px solid #27476D;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-left: 8px;
                margin-top: 0px;
                transition: 2s;
            }
            .sun {
                background-color: #fdd462;
                box-shadow: 2px 0px 0px 1px #D19C29;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                transition: 2s;
            }
            header {
                h1 {
                    padding: 5px 5px;
                    @include tipografie(24px,
                    700,
                    28px,
                    $cultexte);
                    text-align: center;
                }
                #backbutton {
                    padding: 5px;
                    @include tipografie(16px,
                    700,
                    20px,
                    $cultexte);
                    cursor: pointer;
                }
            }
            body {
                background-image: url('/icons/day.jpg');
                #favoritelocation {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    .favcity {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        width: 70%;
                        border-radius: 25px;
                        .cut1,
                        .cut2 {
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
                        }
                        .cut1 {
                            .namecity,
                            .statusvreme {
                                padding: 10px 10px;
                                @include tipografie(16px,
                                700,
                                20px,
                                $cultexte);
                                text-transform: capitalize;
                            }
                        }
                        .cut2 {
                            justify-content: flex-end;
                            align-items: flex-end;
                            .tempcity {
                                padding: 10px 10px;
                                @include tipografie(21px,
                                700,
                                20px,
                                $cultexte)
                            }
                            .tempextreme {
                                display: flex;
                                p {
                                    padding: 5px 5px;
                                    @include tipografie(16px,
                                    700,
                                    20px,
                                    $cultexte)
                                }
                                .temcitymax,
                                .temcitymin {
                                    padding: 5px 5px;
                                    @include tipografie(16px,
                                    700,
                                    20px,
                                    $cultexte)
                                }
                            }
                        }
                    }
                }
            }
        }
        
        @media (min-width: 750px) {
            header {
                h1 {
                    @include tipografie(20px,
                    700,
                    24px,
                    $cultexte)
                }
            }
            .daynight {
                top: 18px;
            }
            body {
                #favoritelocation {
                    .favcity {
                        width: 50%;
                    }
                }
            }
        }
        
        @media (min-width:1024px) {
            body {
                background-image: url('/icons/daydesktop.jpg');
                #favoritelocation {
                    .favcity {
                        width: 40%;
                    }
                }
            }
            .day {
                background-image: url('/icons/daydesktop.jpg');
            }
            .night {
                background-image: url('/icons/nightdesktop.jpg');
            }
        }
        
        @media (min-width: 1200px) {
            body {
                #favoritelocation {
                    .favcity {
                        width: 30%;
                        .cut1 {
                            .namecity,
                            .statusvreme {
                                @include tipografie(20px,
                                700,
                                20px,
                                $cultexte)
                            }
                        }
                        .cut2 {
                            .tempcity {
                                @include tipografie(20px,
                                700,
                                20px,
                                $cultexte)
                            }
                            .tempextreme {
                                p {
                                    @include tipografie(20px,
                                    700,
                                    20px,
                                    $cultexte)
                                }
                                .temcitymax,
                                .temcitymin {
                                    @include tipografie(20px,
                                    700,
                                    20px,
                                    $cultexte)
                                }
                            }
                        }
                    }
                }
            }
        }