@import "mixinuri";
@import "variabile";
@media (min-width: 320px) {
    header {
        #addfavorite {
            float: right;
            background-color: transparent;
            border: none;
            color: $cultexte;
        }
    }
    main {
        background-color: aqua;
        .container {
            padding: 20px;
        }
        form {
            text-align: center;
            padding-top: 20px;
        }
        input {
            text-transform: capitalize
        }
        input,
        button {
            border-radius: 15px;
            border: none;
        }
        .boxOne {
            #tempmax {
                padding-right: 10px;
            }
            text-align: center;
            #cityname {
                @include tipografie(26px, 600, 32px, $cultexte);
                text-transform: capitalize
            }
            #citytemperature {
                @include tipografie(54px, 900, 60px, $cultexte);
                padding: 10px 0;
            }
            #status {
                padding: 10px 0;
            }
            #minmax {
                display: flex;
                justify-content: center;
                #tempmin {
                    padding-right: 5px;
                }
            }
        }
        .boxTwo {
            #miniboxone,
            #miniboxtwo {
                border-radius: 15px;
                padding: 10px;
                background-color: red;
            }
            .titlebox {
                display: inline-block;
                @include tipografie(16px, 700, 22px, $cultexte);
                padding-left: 10px;
            }
            .cloud {
                border: 0;
                color: $cultexte;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 18px;
                font-weight: 900;
                position: relative;
                &:after {
                    content: "\f0c2";
                }
                span {
                    display: none;
                }
            }
            #miniboxone {
                margin-top: 20px;
                #clock {
                    border: 0;
                    color: $cultexte;
                    font-family: "Font Awesome 5 Free";
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    font-size: 18px;
                    font-weight: 900;
                    position: relative;
                    &:after {
                        content: "\f017";
                    }
                    span {
                        display: none;
                    }
                }
                #card1 {
                    overflow: auto;
                    white-space: nowrap;
                    .boxHour {
                        text-align: center;
                        padding: 0 22px;
                        .timetemp {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                    .time {
                        padding: 10px 0;
                    }
                    .temponhour {
                        padding: 10px 0;
                    }
                }
                #card1::-webkit-scrollbar {
                    display: none;
                }
            }
            #miniboxtwo {
                margin-top: 20px;
                #date {
                    border: 0;
                    color: $cultexte;
                    font-family: "Font Awesome 5 Free";
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    font-size: 18px;
                    font-weight: 900;
                    position: relative;
                    &:after {
                        content: "\f073";
                    }
                    span {
                        display: none;
                    }
                }
                .watherOnDay {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px 0;
                    p,
                    i {
                        padding: 0 10px;
                    }
                    .daytemp {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}