@media (min-width: 320px) {
  header {
    padding: 15px;
  }
  header #addfavorite {
    float: right;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
  }
  header #cityheader,
  header #tempheader {
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
    color: #fff;
  }
  header #cityheader {
    padding-right: 10px;
    text-transform: capitalize;
  }
  header .daynight {
    width: 33px;
    height: 33px;
    left: 180px;
    top: 16px;
    position: absolute;
  }
  header .daynight:hover {
    cursor: pointer;
  }
  header .moon {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left: 3px solid #27476D;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 0px;
    transition: 2s;
  }
  header .sun {
    background-color: #fdd462;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    transition: 2s;
  }
}
@media (min-width: 1024px) {
  header #addfavorite {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
  header #cityheader,
  header #tempheader {
    font-size: 20px;
    font-weight: 900;
    line-height: 24x;
    color: #fff;
  }
}
@media (min-width: 320px) {
  .day {
    background-image: url("/icons/day.jpg");
  }
  .night {
    background-image: url("/icons/night.jpg");
  }
  body {
    background-image: url("/icons/day.jpg");
  }
  .daystyle {
    background-color: rgba(194, 147, 0, 0.5);
    box-shadow: 2px 0px 0px 1px #D19C29;
  }
  .nightstyle {
    background-color: rgba(46, 34, 34, 0.8);
    box-shadow: -2px 1px 0 3px #275e8e;
  }
  main .container {
    padding: 20px;
  }
  main form {
    text-align: center;
    padding-top: 20px;
  }
  main input {
    text-transform: capitalize;
    margin-right: 10px;
  }
  main input,
  main button {
    border-radius: 15px;
    border: none;
    padding: 5px;
  }
  main button {
    color: #fff;
  }
  main .boxOne {
    text-align: center;
  }
  main .boxOne p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
  }
  main .boxOne #tempmax {
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
  }
  main .boxOne #cityname {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    color: #fff;
    text-transform: capitalize;
  }
  main .boxOne #citytemperature {
    font-size: 54px;
    font-weight: 900;
    line-height: 60px;
    color: #fff;
    padding: 10px 0;
  }
  main .boxOne #status {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
  }
  main .boxOne #minmax {
    display: flex;
    justify-content: center;
  }
  main .boxOne #minmax #tempmin {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
  }
  main .boxTwo #miniboxone,
  main .boxTwo #miniboxtwo {
    border-radius: 15px;
    padding: 10px;
  }
  main .boxTwo .titlebox {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    padding-left: 10px;
  }
  main .boxTwo .cloud {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .cloud:after {
    content: "\f0c2";
  }
  main .boxTwo .cloud span {
    display: none;
  }
  main .boxTwo .sun {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .sun:after {
    content: "\f185";
  }
  main .boxTwo .sun span {
    display: none;
  }
  main .boxTwo .suncloud {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .suncloud:after {
    content: "\f6c4";
  }
  main .boxTwo .suncloud span {
    display: none;
  }
  main .boxTwo .rain {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .rain:after {
    content: "\f73d";
  }
  main .boxTwo .rain span {
    display: none;
  }
  main .boxTwo .snow {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .snow:after {
    content: "\f2dc";
  }
  main .boxTwo .snow span {
    display: none;
  }
  main .boxTwo .fog {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .fog:after {
    content: "\f75f";
  }
  main .boxTwo .fog span {
    display: none;
  }
  main .boxTwo .furtuna {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    width: 60px;
    padding: 10px 25px;
  }
  main .boxTwo .furtuna:after {
    content: "\f76c";
  }
  main .boxTwo .furtuna span {
    display: none;
  }
  main .boxTwo #miniboxone {
    margin-top: 20px;
  }
  main .boxTwo #miniboxone #clock {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
  }
  main .boxTwo #miniboxone #clock:after {
    content: "\f017";
  }
  main .boxTwo #miniboxone #clock span {
    display: none;
  }
  main .boxTwo #miniboxone #card1 {
    overflow: auto;
    white-space: nowrap;
  }
  main .boxTwo #miniboxone #card1 .boxHour {
    text-align: center;
    padding: 0 10px;
  }
  main .boxTwo #miniboxone #card1 .boxHour .timetemp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .boxTwo #miniboxone #card1 .time {
    padding: 10px 25px;
    width: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
  }
  main .boxTwo #miniboxone #card1 .temponhour {
    padding: 10px 25px;
    width: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
  }
  main .boxTwo #miniboxone #card1::-webkit-scrollbar {
    display: none;
  }
  main .boxTwo #miniboxtwo {
    margin-top: 20px;
  }
  main .boxTwo #miniboxtwo #date {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
  }
  main .boxTwo #miniboxtwo #date:after {
    content: "\f073";
  }
  main .boxTwo #miniboxtwo #date span {
    display: none;
  }
  main .boxTwo #miniboxtwo .watherOnDay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
  }
  main .boxTwo #miniboxtwo .watherOnDay p,
  main .boxTwo #miniboxtwo .watherOnDay i {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
  }
  main .boxTwo #miniboxtwo .watherOnDay .daytemp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 550px) {
  .boxTwo {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  #miniboxone,
  #miniboxtwo {
    width: 85%;
  }
}
@media (min-width: 750px) {
  .boxTwo {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  #miniboxone,
  #miniboxtwo {
    width: 65%;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("/icons/daydesktop.jpg");
  }
  .day {
    background-image: url("/icons/daydesktop.jpg");
  }
  .night {
    background-image: url("/icons/nightdesktop.jpg");
  }
  .boxTwo {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  #miniboxone,
  #miniboxtwo {
    width: 50%;
  }
}
@media (min-width: 320px) {
  footer {
    padding: 0 20px;
    width: 100%;
    height: 25px;
  }
  footer a {
    border: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    float: right;
  }
  footer a:after {
    content: "\f0c9";
  }
  footer a span {
    display: none;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito Sans";
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul {
  list-style-type: disc;
}

a {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*# sourceMappingURL=style.css.map */
